*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #F1C78C;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 65vmin;
    width: 65vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 19vmin;
    width: 19vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    font-size: 9vmin;
    color: blueviolet;
    background-color: #ffffc7;
}

#reset-btn{
    padding: 1rem;
    font-size: 1.3rem;
    background-color: black;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#new-btn{
    padding: 1rem;
    font-size: 1.3rem;
    background-color: black;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#msg{
    color: #4beb0c;
    font-size: 6vmin;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}